@font-face {
  font-family: 'granby';
  src: url('../assets/fonts/granby.ttf'); 
}
@font-face {
  font-family: 'soulmaze';
  src: url('../assets/fonts/Soulmaze.otf');
}
@font-face {
  font-family: 'soulmazeOutline';
  src: url('../assets/fonts/soulmaze-outline.otf');
}
@font-face {
  font-family: 'soulmazeBrush';
  src: url('../assets/fonts/soulmaze-brush.otf');
}
@font-face {
  font-family: 'alliance';
  src: url('../assets/fonts/alliance.otf');
}
@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/robotoLight.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
}


a {
  color: inherit;
  text-decoration: none;
}