.section{
  background-color: white;
  width: 100vw;
  height: 43.5vh;
  padding: 8% 0;
  overflow:hidden;
  font-family:'roboto';
  display: grid;
  place-items: center;
}

.marqueeCont {
  display: flex;
  flex-direction: column;
}

.textCont {
  margin-right: auto;
  width: 100vw;
  text-wrap: wrap;
  display: grid;
  gap: 1rem;
  padding: 0 1rem;
}
.text{
  font-family:'roboto';
  font-size: 1rem;
  /* margin: 7rem 3rem 3rem 3rem; */
  /* letter-spacing: .1em; */
}
.textCont a{
  width: fit-content;
  display: block;
  font-family: 'soulmaze', sans-serif;
  font-size: 1.2rem;
  color:black;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}
